.stream-modal-content {
    background-color: #fff;
    max-width: 200px;
    left: 30px; /* Adjust the left position as needed */
    right: auto;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute; /* Use absolute positioning to position it relative to the screen */
    border-radius: 3px;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 12px;
  }